# Everything needed in our project

# Micro WEB development framework
Flask~=2.0.3

# WEB Server just like nginx
gunicorn

# Python WEB request library
requests~=2.27.1

# Localization
flask-babel

# Database helper
Flask-SQLAlchemy~=2.0

# Database connection driver
pymysql

# Environmental variables with dotenv
python-dotenv