<link rel="stylesheet" type="text/css" href="/assets/css/login.css">

<div class="login">
    <div class="form">
        <form class="login-form" action="/signup/" method="post">
            <span class="material-icons">Sign Up!</span>
            <input name="email" type="text" value="b@wntc.com" placeholder="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
            <input name="name" type="text" value="b@wntc.com" placeholder="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
            <input name="password" type="password" placeholder="password" required />
            <button>Sign Up!</button>
        </form>
    </div>
</div>